@{
    ViewBag.Title = "WatchBot";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div id="page">
        <nav class="navbar navbar-default my-nav">
            <div class="my-container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><img class="nav-logo" src="~/Content/images/logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for  toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">Discover <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Suggestions</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Action", "Genre", new {id = "1"})">Action</a></li>
                                <li><a href="@Url.Action("Adventure", "Genre", new {id = "1"})">Adventure</a></li>
                                <li><a href="@Url.Action("Animation", "Genre", new {id = "1"})">Animated</a></li>
                                <li><a href="@Url.Action("Comedy", "Genre", new {id = "1"})">Comedy</a></li>
                                <li><a href="@Url.Action("Documentary", "Genre", new {id = "1"})">Documentary</a></li>
                                <li><a href="@Url.Action("Drama", "Genre", new {id = "1"})">Drama</a></li>
                                <li><a href="@Url.Action("Family", "Genre", new {id = "1"})">Family</a></li>
                                <li><a href="@Url.Action("Horror", "Genre", new {id = "1"})">Horror</a></li>
                                <li><a href="@Url.Action("Romance", "Genre", new {id = "1"})">Romance</a></li>
                                <li><a href="@Url.Action("ScienceFiction", "Genre", new {id = "1"})">Science Fiction</a></li>
                                <li><a href="@Url.Action("Thriller", "Genre", new {id = "1"})">Thriller</a></li>
                            </ul>
                        </li>
                    </ul>
                    @Html.Partial($"~/Views/Shared/_LoginPartial.cshtml")
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- Page Content -->
        <div class="page-content">
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/myscripts")
</body>
</html>
