@using WatchBot.Utils
@model WatchBot.Models.ViewModels.DetailsViewModel

<div class="backdrop">
    <div class="heroImg" style="background: url(@Model.Movie.Backdrop) 50% no-repeat;background-size:cover;height:100%;"></div>
    <div class="gradient" style="background-image: radial-gradient(at 10% 30%, @Model.Movie.ProminentColor 0%, #161616 90%);"></div>
    <div class="details-content">
        <div class="row">
            <a class="col-xs-1 col-sm-3 col-md-2 details-poster" href="@Model.Movie.Poster">
                <img class="img-responsive" src="@Model.Movie.Poster" />
            </a>
            <div id="details-info" class="col-xs-10 col-sm-8 col-md-8">
                <h1 class="title text-bold">@Model.Movie.Title<span class="title-year"> (@Model.Movie.ReleaseDate.Split('-')[0])</span></h1>
                
                <div class="btn-group">
                    @foreach (var x in Model.Movie.Genres.Keys)
                    {<span class="btn genre">@x</span>}
                </div>
                    
                <p class="rating">
                    <img src="~/Content/images/IMDb-icon.png"/>
                    @Model.Movie.Rating
                </p>
                <div><p class="description">@Model.Movie.Description</p></div>
                <p class="runtime"><span class="glyphicon glyphicon-time runtime" aria-hidden="true"></span>
                    @Model.Movie.GetRuntimeHours()h @Model.Movie.GetRuntimeMinutes()min
                </p>
                <button id="trailer" class="btn btn-default myBtn">
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                    Watch trailer
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content myModal">
                            <div class="modal-body videowrapper">
                                <iframe frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="style1" style="border-top: 2px solid @Model.Movie.ProminentColor;">
        <div class="actor-row">
            @foreach (var x in Model.Movie.Actors)
            {
                <div class="details-actor">
                    <div class="img-circle" style="border: 2px solid @Model.Movie.ProminentColor;">
                        <img src="@x.Picture"/>
                    </div>
                    <p>@x.Name</p>
                </div>
            }
        </div>
    </div>
</div>
<div class="similar-section" style="background: @Model.Movie.ProminentColor;">
    <div class="my-container">
        <div>
            <h3 class="header-text text-bold">SIMILAR MOVIES</h3>
        </div>
        @Html.Partial($"~/Views/Shared/_Carousel.cshtml", Model.Similar.Values)
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $('#trailer').click(function () {
        var src = "@Model.Movie.Trailer";
        $('#myModal').modal('show');
        $('#myModal iframe').attr('src', src);
    });

    $('#myModal').on('hidden.bs.modal',
        function() {
            $('#myModal iframe').removeAttr('src');
        });

    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            margin: 4,
            stagePadding: 20,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                },
                1200: {
                    items: 4
                },
                1500: {
                    items: 5
                }
            },
            loop: true,
            slideBy: "page",
            lazyLoad: false
        });

        var owl = $("#@Model.Similar.First().Value.Id.ToString()");
        $("#@Model.Similar.First().Value.Id.ToString()prev").click(function () {
            owl.trigger('prev.owl');
        });
        $("#@Model.Similar.First().Value.Id.ToString()next").click(function () {
            owl.trigger('next.owl');
        });
    });
</script>
}